DB_WRITE_HOST=postgres
DB_WRITE_PORT=5432
DB_WRITE_NAME=orders_write
DB_WRITE_USER=postgres
DB_WRITE_PASS=postgres

DB_READ_HOST=mongodb
DB_READ_PORT=27017
DB_READ_NAME=orders_read
DB_READ_USER=mongo
DB_READ_PASS=mongo

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASS=rabbitmq
